@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h3 class="text-center">Privacy Policy</h3>
    <p>
        We value the trust you place in us and recognize the importance of secure transactions and information privacy. At Kajal Enterprises, 
        we are committed to safeguarding your personal information and ensuring that your online experience with us is secure and protected. We employ 
        advanced security measures and protocols to maintain the confidentiality and integrity of your data.
    </p>

    <h5>Collection of Your Information</h5>
    <p>When you use our Platform, we collect and store your information which is provided by you from time to time.
        Once you give us your personal data, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. 
        You always have the option to not provide data by choosing not to use a particular service, product or feature on the Platform.
    </p>

    <h5>Links to Other Sites</h5>
    <p>Our Platform may provide links to other websites or applications that may collect personal data about you and you will be governed by their privacy policies.
        This website shall not be responsible for the privacy practices or the content of their privacy policies,
        and we request you to read their privacy policies prior to disclosing any information.
    </p>

    <h5>Children Information</h5>
    <p>Use of our Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872.
        We do not knowingly solicit or collect personal data from children under the age of 18 years. If you have shared any personal data of children under the age of 18 years,
        you represent that you have the authority to do so and permit us to use the information in accordance with this Privacy Policy.
    </p>

    <h5>Changes to this Privacy Policy</h5>
    <p>
        Please check our Privacy Policy periodically for changes . We may update this Privacy Policy to reflect changes to our information practices.
        We will alert you to significant changes by posting the date our policy got last updated, placing a notice on our Platform
    </p>

    <div class="contact-info">
        <h5>Grievance Officer</h5>
        <p>Ravi Kumar</p>
        <p>Contact: +918287201284</p>
        <p>Email: kajalenterprises8287@gmail.com</p>
    </div>
</div>