@model ProductVM

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary text-center">Edit Product</h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-10">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Product.Id" hidden />
                <input asp-for="Product.ImageUrl" hidden />
                <div class="mb-3">
                    <label>Product Title</label>
                    <input asp-for="Product.Title" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label>Product Description</label>
                    <input asp-for="Product.Description" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>List Price</label>
                    <input asp-for="Product.ListPrice" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label>Real Price</label>
                    <input asp-for="Product.RealPrice" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Category</label>
                    <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>ImageURL</label>
                    <input type="file" class="form-control" name="file" />
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</div>
